@model IEnumerable<NiagaraCollegeProject.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Meetings</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
{
    <p>
        <a asp-action="Create">Create New Meeting</a>
    </p>
}
<form asp-action="Index" method="get">
    <br />
    <div class="container-fluid d-block d-lg-none">
        <div class="row">
            @foreach (var item in Model)
            {
                //Make a card for each one
                <div class="card mb-sm-3" style="min-width: 18rem;">
                    <h5 class="card-header"><strong>@Html.DisplayFor(modelItem => item.MeetingTopicName)</strong></h5>
                    <div class="card-body">
                        <figure class="row">
                            <figcaption class="col">
                                <p class="card-text">
                                    @*Card Text goes Here*@
                                <p class="card-text">
                                        @*Card Text goes Here*@
                                    <dl class="row lh-1">
                                        <dt class="col-3 text-truncate">
                                                @Html.DisplayNameFor(model => model.MeetingStartTimeDate)
                                        </dt>
                                        <dd class="col-9">
                                                @Html.DisplayFor(modelItem => item.MeetingStartTimeDate)
                                        </dd>
                                        <dt class="col-3 text-truncate">
                                                @Html.DisplayNameFor(model => model.MeetingNotes)
                                        </dt>
                                        <dd class="col-9">
                                                @Html.DisplayFor(modelItem => item.MeetingNotes)
                                        </dd>
                                        <dt class="col-3 text-truncate">
                                                Documents
                                        </dt>
                                        <dd class="col-9">
                                                @{
                                                    int fileCount = item.MeetingDocuments.Count;
                                                    if (fileCount > 0)
                                                    {
                                                        var firstFile = item.MeetingDocuments.FirstOrDefault(); ;
                                                        if (fileCount > 1)
                                                        {
                                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(item.ID)" aria-expanded="false" aria-controls="collapseDocs@(item.ID)">
                                                            <span class="badge badge-info">@fileCount</span> Documents...
                                                        </a>
                                                        <div class="collapse" id="collapseDocs@(item.ID)">
                                                                @{
                                                                    foreach (var d in item.MeetingDocuments)
                                                                    {
                                                                    <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                                                    }
                                                                }
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                        <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                                        }
                                                    }
                                                }
                                        </dd>
                                        <dt class="col-3 text-truncate">
                                                Attendees
                                        </dt>
                                        <dd class="col-9">
                                                @{
                                                    int attendeeCount = item.Attendees.Count;
                                                    if (attendeeCount > 0)
                                                    {
                                                        string firstAttendee = item.Attendees.FirstOrDefault().Member.FullName;
                                                        if (attendeeCount > 1)
                                                        {
                                                            string attendeeList = "";
                                                            var c = item.Attendees.ToList();
                                                            for (int i = 1; i < attendeeCount; i++)
                                                            {
                                                                attendeeList += c[i].Member.FullName + " <br />";
                                                            }
                                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseHistory@(item.ID)"
                                               aria-expanded="false" aria-controls="collapseHistory@(item.ID)">
                                                                @firstAttendee <span class="badge bg-info">@attendeeCount</span>
                                                        </a>
                                                        <div class="collapse" id="collapseHistory@(item.ID)">
                                                                @Html.Raw(attendeeList)
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                            @firstAttendee
                                                        }
                                                    }
                                                }
                                        </dd>
                                    </dl>
                                </p>
                                </p>
                            </figcaption>
                        </figure>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Index" asp-controller="PatientAppts" asp-route-PatientID="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

<div class="d-none d-lg-block">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingTopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingStartTimeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingNotes)
            </th>
            <th>
                Meeting Documents
            </th>
           <th>
                Attendees
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingTopicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingStartTimeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingNotes)
                </td>
                <td>
                    @{
                        int fileCount = item.MeetingDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = item.MeetingDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(item.ID)" aria-expanded="false" aria-controls="collapseDocs@(item.ID)">
                                    <span class="badge badge-info">@fileCount</span> Documents...
                                </a>
                                <div class="collapse" id="collapseDocs@(item.ID)">
                                    @{
                                        foreach (var d in item.MeetingDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </td>
                <td>

                        @{
                            int attendeeCount = item.Attendees.Count;
                            if (attendeeCount > 0)
                            {
                            string firstAttendee = item.Attendees.FirstOrDefault().Member.FullName;
                                if (attendeeCount > 1)
                                {
                                    string attendeeList = "";
                                var c = item.Attendees.ToList();
                                    for (int i = 1; i < attendeeCount; i++)
                                    {
                                        attendeeList += c[i].Member.FullName + " <br />";
                                    }
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseHistory@(item.ID)"
                       aria-expanded="false" aria-controls="collapseHistory@(item.ID)">
                                        @firstAttendee <span class="badge bg-info">@attendeeCount</span>
                                    </a>
                                <div class="collapse" id="collapseHistory@(item.ID)">
                                        @Html.Raw(attendeeList)
                                    </div>
                                }
                                else
                                {
                                    @firstAttendee
                                }
                            }
                        }
                    </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit </a>
                        <a asp-action="GenerateReport" asp-route-id="@item.ID">Report</a>
                    }

                        <a asp-action="Index" asp-controller="MeetingAttendees" asp-route-MeetingID="@item.ID">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
    <partial name="_PagingNavBar" />
</form>
