@model IEnumerable<NiagaraCollegeProject.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Report</h1>
<br />
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
    {
        <a asp-action="Create" class="btn_Create">Create New Report</a>
    }
</p>
<form asp-action="Index" method="get">
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Uploader:</label>
                        @Html.DropDownList("MemberEmail", null, "All Members", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Seach by report notes:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid d-block d-lg-none">
        <div class="row">
            @foreach (var item in Model)
            {
                //Make a card for each one
                <div class="card mb-sm-3" style="min-width: 18rem;">
                    <h5 class="card-header"><strong>@Html.DisplayFor(modelItem => item.UploadedOn)</strong></h5>
                    <div class="card-body">
                        <figure class="row">
                            <figcaption class="col">
                                <p class="card-text">
                                    @*Card Text goes Here*@
                                <p class="card-text">
                                        @*Card Text goes Here*@
                                    <dl class="row lh-1">
                                        <dt class="col-3 text-truncate">
                                                @Html.DisplayNameFor(model => model.Summary)
                                        </dt>
                                        <dd class="col-9">
                                                @Html.DisplayFor(modelItem => item.Summary)
                                        </dd>
                                        <dt class="col-3 text-truncate">
                                            Documents
                                        </dt>
                                        <dd class="col-9">
                                                @{
                                                    int fileCount = item.ReportDocuments.Count;
                                                    if (fileCount > 0)
                                                    {
                                                        var firstFile = item.ReportDocuments.FirstOrDefault(); ;
                                                        if (fileCount > 1)
                                                        {
                                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(item.ID)" aria-expanded="false" aria-controls="collapseDocs@(item.ID)">
                                                            <span class="badge badge-info">@fileCount</span> Documents...
                                                        </a>
                                                        <div class="collapse" id="collapseDocs@(item.ID)">
                                                                @{
                                                                    foreach (var d in item.ReportDocuments)
                                                                    {
                                                                    <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                                                    }
                                                                }
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                        <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                                        }
                                                    }
                                                }
                                        </dd>
                                    </dl>
                                </p>
                                </p>
                            </figcaption>
                        </figure>
                        <div class="card-footer">
                            @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit </a>
                            }

                            <a asp-action="Details" asp-route-id="@item.ID">View </a>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="d-none d-lg-block">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        UploadedBy
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UploadedOn)
                    </th>
                    <th>
                        Report Documents
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*                            @{
                        string creatorname = "gg";
                        }
                        <script type="text/jscript">
                        $(function () {
                        $(document).ready(function () {
                        $.getJSON('/Reports/GetMemList/', function (data) {
                        $.each(data, function (i, Mem) {
                        if(Mem.text == @item.CreatedBy){
                        @creatorname = Mem.value;
                        break;
                        }
                        });
                        @Html.DisplayFor(modelItem => creatorname)
                        });
                        });
                        });
                        </script>*@
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UploadedOn)
                        </td>
                        <td>
                            @{
                                int fileCount = item.ReportDocuments.Count;
                                if (fileCount > 0)
                                {
                                    var firstFile = item.ReportDocuments.FirstOrDefault(); ;
                                    if (fileCount > 1)
                                    {
                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(item.ID)" aria-expanded="false" aria-controls="collapseDocs@(item.ID)">
                                            <span class="badge badge-info">@fileCount</span> Documents...
                                        </a>
                                        <div class="collapse" id="collapseDocs@(item.ID)">
                                            @{
                                                foreach (var d in item.ReportDocuments)
                                                {
                                                    <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                    }
                                }
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit </a>
                            }

                            <a asp-action="Details" asp-route-id="@item.ID">View </a>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <partial name="_PagingNavBar" />
</form>