@model NiagaraCollegeProject.ViewModels.MemberVM

@{
    ViewData["Title"] = "Account Details";
}

<h1>Profile</h1>

<div>
    <hr />
    <div class="alert alert-danger" style="display: none;">
        <strong>Note:</strong>
        <ul id="errorMessage"></ul>
    </div>
    <dl class="row">
        @{
            if(Model.MemberPhoto?.Content != null)
            {
                @:<div>
                    string imageBase64 = Convert.ToBase64String(Model.MemberPhoto.Content);
                    string imageSrc = string.Format("data:" + Model.MemberPhoto.MimeType + ";base64, {0}", imageBase64);
                    <img src="@imageSrc" alt="The profile picture of @Model.FullName" title="The profile picture of @Model.FullName" class="img-fluid rounded"/>
                @:</div><hr />
            }
        }
        <dl class="row">
            <div class="col-md-4">
                    <h4>Member Information</h4>

                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.Salutation):</strong> @Html.DisplayFor(model => model.Salutation.SalutationTitle)
                    </label>        
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.FullName):</strong> @Html.DisplayFor(model => model.FullName)
                    </label>
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.PhoneNumber):</strong> @Html.DisplayFor(model => model.PersonalPhoneFormatted)            
                    </label>
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.Email):</strong> @Html.DisplayFor(model => model.Email)
                    </label>                   
                    <label class="col-sm-10">
                        <strong>Full Address:</strong> @Html.DisplayFor(model => model.MemberFormattedAddress)
                    </label>      
                      <label class="col-sm-10">
                        <strong>Member Since:</strong> @Html.DisplayFor(model => model.SignUpDate)
                    </label>
                       <label class="col-sm-10">
                        <strong>Last Updated:</strong> @Html.DisplayFor(model => model.ReNewDate_)
                    </label>               
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.RenewalDueBy):</strong> @Html.DisplayFor(model => model.RenewalDueBy)
                    </label>
                     <div class="form-group">
                <label><strong>Supporting Documents:</strong></label>
                <div class="ml-sm-10">
                    @{
                        int fileCount = Model.MemberDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.MemberDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                            <span class="badge badge-info">@fileCount</span> Current Documents...
                                        </a>
                                <div class="collapse" id="collapseDocs@(Model.ID)">
                                    @{
                                        foreach (var d in Model.MemberDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
                 
            </div>
 <div class="col-md-4">
                  <h4>Education Information</h4>            
                     <label class="col-sm-10">
                        <strong>School Name:</strong> @Html.DisplayFor(model => model.AcademicDivision.DivisionName)
                    </label>
                   
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.PAC):</strong> @Html.DisplayFor(model => model.PAC.PACName)
                    </label>
                    <dd class="col-sm-10">
                        
                    </dd>

                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.EducationSummary)</strong>
                    </label>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EducationSummary)
                    </dd>
                      <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.NCGraduate):</strong> @Html.DisplayFor(model => model.NCGraduate)
                    </label>
                  
            </div>            
            <div class="col-md-4">
                    <h4>Employment Information</h4>
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.CompanyName):</strong> @Html.DisplayFor(model => model.CompanyName)
                    </label>
                  
                    <label class="col-sm-10">
                        <strong>Company Address:</strong> @Html.DisplayFor(model => model.CompanyFormattedAddress)
                    </label>

                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.CompanyPhoneNumber):</strong> @Html.DisplayFor(model => model.WorkPhoneFormatted)
                    </label>
                 
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.CompanyEmail):</strong> @Html.DisplayFor(model => model.CompanyEmail)
                    </label>

                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.PreferredContact):</strong> @Html.DisplayFor(model => model.PreferredContact)
                    </label>
               
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.CompanyPositionTitle):</strong> @Html.DisplayNameFor(model => model.CompanyPositionTitle)
                    </label>
                   
                    <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.OccupationalSummary):</strong>
                    </label>    
                    <label class="col-sm-10">
                        @Html.DisplayFor(model => model.OccupationalSummary)
                    </label> 
                     <label class="col-sm-10">
                        <strong>@Html.DisplayNameFor(model => model.NumberOfPushSubscriptions):</strong>
                    </label> 
                     <label class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfPushSubscriptions)
                    </label> 
            </div>   
        </dl>
    </div>
<div>
    <a asp-action="Edit" class="btn btn-primary Save_btns" asp-route-id="@Model?.ID">Edit</a>
    <a asp-action="Renew" class="btn btn-primary Save_btns" asp-route-id="@Model?.ID">Renew</a>
    <a asp-action="Push" class="btn btn-primary Save_btns" asp-route-MemberID="@Model.ID">Notifications on this Device</a>
</div>
@section Scripts {
    <script>
        //Vapid public key.
        var applicationServerPublicKey = '@ViewBag.PublicKey';
    </script>
    <script src="~/js/CheckSubscription.js"></script>
}

