@model NiagaraCollegeProject.Models.Member

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Confirm</h1>

<h3>Are you sure you want to delete @Model.FullName?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>      
        <dt class="col-sm-2">
            Division
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicDivision.DivisionName)
        </dd>
        <dt class="col-sm-2">
            PAC
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PAC.PACName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Members" asp-action="Index" class="Back_btns"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </form>
</div>
