@model NiagaraCollegeProject.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create Member</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="SalutationID" class="control-label"></label>
                <select asp-for="SalutationID" class ="form-control" asp-items="ViewBag.SalutationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationSummary" class="control-label"></label>
                <input asp-for="EducationSummary" class="form-control" />
                <span asp-validation-for="EducationSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupationalSummary" class="control-label"></label>
                <input asp-for="OccupationalSummary" class="form-control" />
                <span asp-validation-for="OccupationalSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <select asp-for="Province" class="form-control" asp-items="@Html.GetEnumSelectList<Member.Provinces>()"></select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MemberStatus" /> @Html.DisplayNameFor(model => model.MemberStatus)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NCGraduate" /> @Html.DisplayNameFor(model => model.NCGraduate)
                </label>
            </div>       
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyStreetAddress" class="control-label"></label>
                <input asp-for="CompanyStreetAddress" class="form-control" />
                <span asp-validation-for="CompanyStreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyProvince" class="control-label"></label>
                <select asp-for="CompanyProvince" class="form-control" asp-items="@Html.GetEnumSelectList<Member.Provinces>()"></select>
                <span asp-validation-for="CompanyProvince" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="CompanyCity" class="control-label"></label>
                <input asp-for="CompanyCity" class="form-control" />
                <span asp-validation-for="CompanyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPostalCode" class="control-label"></label>
                <input asp-for="CompanyPostalCode" class="form-control" />
                <span asp-validation-for="CompanyPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                <input asp-for="CompanyPhoneNumber" class="form-control" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredContact" class="control-label"></label>
                <select asp-for="PreferredContact" class="form-control" asp-items="@Html.GetEnumSelectList<Member.Contact>()"></select>
                <span asp-validation-for="PreferredContact" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="CompanyPositionTitle" class="control-label"></label>
                <input asp-for="CompanyPositionTitle" class="form-control" />
                <span asp-validation-for="CompanyPositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicDivisionID" class="control-label"></label>
                <select asp-for="AcademicDivisionID" class ="form-control" asp-items="ViewBag.AcademicDivisionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PACID" class="control-label"></label>
                <select asp-for="PACID" class ="form-control" asp-items="ViewBag.PACID"></select>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Profile Picture File:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Supporting Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
