@model NiagaraCollegeProject.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Meeting</h4>
<hr />
<script type="text/jscript">
    $(function () {
        $(document).ready(function () {
            $.getJSON('/Meetings/GetPacList/' + $('#cbodivision').val(), function (data) {
                var items = '';
                $.each(data, function (i, PAC) {
                    items += "<option value='" + PAC.value + "'>" + PAC.text + "</option>";
                });
                $('#pacid').html(items);
            });
        });
    });
</script>

<script type="text/jscript">
    $(function () {
        $('#cbodivision').change(function () {
            $.getJSON('/Meetings/GetPacList/' + $('#cbodivision').val(), function (data) {
                var items = '';
                $.each(data, function (i, PAC) {
                    items += "<option value='" + PAC.value + "'>" + PAC.text + "</option>";
                });
                $('#pacid').html(items);
            });
        });
    });
</script>
<hr />


   <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
 <div class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="form-group">
                <label asp-for="AcademicDivisionID" class="control-label">Division</label>
                <select asp-for="AcademicDivisionID" id="cbodivision" class ="form-control" asp-items="ViewBag.AcademicDivisionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PACID" class="control-label">PAC</label>
                <select asp-for="PACID" id="pacid" class ="form-control" asp-items="ViewBag.PACID"></select>
            </div>
                <div class="form-group">
                    <label asp-for="MemberID" class="control-label">Member</label>
                    <select asp-for="MemberID" id="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                </div>
            <div class="form-group">
                <label asp-for="MeetingTopicName" class="control-label"></label>
                <input asp-for="MeetingTopicName" class="form-control" />
                <span asp-validation-for="MeetingTopicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingStartTimeDate" class="control-label"></label>
                <input asp-for="MeetingStartTimeDate" class="form-control" />
                <span asp-validation-for="MeetingStartTimeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingNotes" class="control-label"></label>
                <input asp-for="MeetingNotes" class="form-control" />
                <span asp-validation-for="MeetingNotes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Meeting Documents:</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.MeetingDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.MeetingDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                    <span class="badge badge-info">@fileCount</span> Current Documents...
                                </a>
                                <div class="collapse" id="collapseDocs@(Model.ID)">
                                    @{
                                        foreach (var d in Model.MeetingDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
                <div class="form-group">
                    <label class="control-label custom-file-label">Upload Additional Documents:</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="theFiles" multiple="multiple">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Selected to Attend</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                    <strong>-</strong>
                </button>
                @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Select More Members to Attend</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                    <strong>+</strong>
                </button>
                @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" id="btnSubmit" class="btn btn-primary" />
    </div>
        </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/multiselect.js"></script>
    }
    <link rel="stylesheet" href="~/css/SearchableDDL.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/jscript">
        $(function () {
            $("#MemberID").select2();
            $("#MeetingID").select2();
        });
    </script>
}