@model NiagaraCollegeProject.Models.MeetingMinute

<h1>Edit Meeting Minute</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MeetingComment" class="control-label"></label>
                <input asp-for="MeetingComment" class="form-control" />
                <span asp-validation-for="MeetingComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Meeting</label>
                <select asp-for="MeetingID" id="MeetingID" class="form-control" asp-items="ViewBag.MeetingID"></select>
                <span asp-validation-for="MeetingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Current Documents:</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.MeetingMinuteDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.MeetingMinuteDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                    <span>@fileCount</span> Current Documents...
                                </a>
                                <div class="collapse" id="collapseDocs@(Model.ID)">
                                    @{
                                        foreach (var d in Model.MeetingMinuteDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Additional Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="meetingMinuteFile" multiple="multiple">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary Save_btns"><i class="fa-solid fa-check"></i></button>
                <a asp-action="Index" class="Back_btns"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/multiselect.js"></script>
    }
    <link rel="stylesheet" href="~/css/SearchableDDL.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/jscript">
        $(function () {
            $("#MeetingID").select2();
        });
    </script>
}