@model NiagaraCollegeProject.ViewModels.MemberAdminVM

@{
    ViewData["Title"] = "Create";
}

<h1>CREATE ACCOUNT</h1>
            <span class="colorred">*Fields marked with a red asterisk are required.</span>

@*Populate Pac ddl with related division fk*@

<script type="text/jscript">
    $(function ()
    {
        $( document ).ready(function()
        {        
            $.getJSON('/TeamMembers/GetPacList/' + $('#cbodivision').val(), function (data)
            {
                var items = '';
                $.each(data, function (i, PAC)
                {
                    items += "<option value='" + PAC.value + "'>" + PAC.text + "</option>";
                });
                $('#pacid').html(items);
            });
        });
    });
</script>

<script type="text/jscript">
    $(function ()
    {
        $('#cbodivision').change(function ()
        {        
            $.getJSON('/TeamMembers/GetPacList/' + $('#cbodivision').val(), function (data)
            {
                var items = '';
                $.each(data, function (i, PAC)
                {
                    items += "<option value='" + PAC.value + "'>" + PAC.text + "</option>";
                });
                $('#pacid').html(items);
            });
        });
    });
</script>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label><span class="colorred">*</span>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new {@class = "form-control", @placeholder = " example: Keanu"}})
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label><span class="colorred">*</span>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new {@class = "form-control", @placeholder = " example: Reeves"}})
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Work Email</label><span class="colorred">*</span>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new {@class = "form-control", @type = "email", @placeholder = " example: JohnWick@outlook.com"}})
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicDivisionID" class="control-label">School Of</label>
                <select asp-for="AcademicDivisionID" id="cbodivision" class ="form-control" asp-items="ViewBag.AcademicDivisionID">
                        <option selected="selected" value="">Please Select a School</option>
                </select>
                <span asp-validation-for="AcademicDivisionID" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PACID" class="control-label">PAC</label>
                <select asp-for="PACID" id="pacid" class ="form-control" asp-items="ViewBag.PACID">
                        <option selected="selected" value="">Please Select a PAC</option>
                </select>
                <span asp-validation-for="PACID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberRole" class="control-label"></label><span class="colorred">*</span>
                <select asp-for="MemberRole"class="form-control" asp-items="@Html.GetEnumSelectList<Member.MemberPacRole>()">
                          <option selected="selected" value="">Please Select a Member Role</option>
                </select>
                <span asp-validation-for="MemberRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoles" class="control-label">Role</label>
                @{
                    string rolename = "Member";
                }
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<NiagaraCollegeProject.ViewModels.RoleVM> roles = ViewBag.Roles;
                            foreach (var role in roles)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedRoles"
                                           value="@role.RoleName"
                                           @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                           @if(role.RoleName == "Staff"){
                                                @rolename @:&nbsp;&nbsp;
                                           }
                                           else{
                                                @role.RoleName @:&nbsp;&nbsp;
                                           }
                                @:</td>
                            }
                        @:</tr>
                        }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="Members" asp-action="Index" class="Back_btns"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
