@model NiagaraCollegeProject.Models.ActionItem

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="MemberID" value="@Model.MemberID" />
            <input type="hidden" name="MeetingID" value="@Model.MeetingID" />
            <input type="hidden" name="AgendaName" value="@ViewData["AgendaName"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
            {
                <div class="form-group">
                    <label asp-for="AgendaName" class="control-label"></label><span class="colorred">*</span>
                    @Html.EditorFor(model => model.AgendaName, new { htmlAttributes = new {@class = "form-control", @placeholder = " example: Agenda for Meeting #X", @required = "true"}})
                    <span asp-validation-for="AgendaName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @{
                        <td><textarea class="form-control" style="height: 120px; width: 320px" id="Description" name="Description" placeholder="example: Analyze and report sales (optional)">@Model.Description</textarea></td>
                    }
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Due Date</label><span class="colorred">*</span>
                    <input asp-for="TaskDueDate" class="form-control" />
                    <span asp-validation-for="TaskDueDate" class="text-danger"></span>
                </div>
            }
            @if (User.IsInRole("Staff"))
            {
                <div class="form-group">
                    <label asp-for="AgendaName" class="control-label"></label><span class="colorred">*</span>
                    @Html.EditorFor(model => model.AgendaName, new { htmlAttributes = new {@class = "form-control", @placeholder = " example: Agenda for Meeting #X", @required = "true", @readonly="readonly"}})
                    <span asp-validation-for="AgendaName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @{
                        <td><textarea readonly class="form-control" style="height: 120px; width: 320px" id="Description" name="Description" placeholder="example: Analyze and report sales (optional)">@Model.Description</textarea></td>
                    }
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Due Date</label><span class="colorred">*</span>
                    <input readonly asp-for="TaskDueDate" class="form-control" />
                    <span asp-validation-for="TaskDueDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                @{
                    <td><textarea class="form-control" style="height: 120px; width: 320px" id="Comments" name="Comments" placeholder="Write some comments here (optional)">@Model.Comments</textarea></td>
                }
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>
                <div class="form-group">
                    <label class="control-label"> Current Documents:</label>
                    <div class="ml-md-3">
                        @{
                            int fileCount = Model.ActionDocuments.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = Model.ActionDocuments.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                        <span class="badge badge-info">@fileCount</span> Current Documents...
                                    </a>
                                    <div class="collapse" id="collapseDocs@(Model.ID)">
                                        @{
                                            foreach (var d in Model.ActionDocuments)
                                            {
                                                <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label custom-file-label">Upload Additional Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>
            @if (User.IsInRole("Staff"))
            {
                <div class="form-group">
                    <label asp-for="MeetingID" class="control-label"></label>
                    <select disabled asp-for="MeetingID" id="MeetingID" class="form-control" asp-items="ViewBag.MeetingID"></select>
                    <span asp-validation-for="MeetingID" class="text-danger"></span>
                </div>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
            {
                <div class="form-group">
                    <label class="control-label">Meeting</label>
                    <select asp-for="MeetingID" id="MeetingID" class="form-control" asp-items="ViewBag.MeetingID"></select>
                    <span asp-validation-for="MeetingID" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary Save_btns"><i class="fa-solid fa-check"></i></button>
                <a asp-action="Index" class="Back_btns"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link rel="stylesheet" href="~/css/SearchableDDL.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/jscript">
        $(function () {
            $("#MemberID").select2();
            $("#MeetingID").select2();
        });
    </script>
}
