@model IEnumerable<NiagaraCollegeProject.ViewModels.MemberAdminVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Maintain Accounts</h1>
<br />

<a style="color: #1B638C; padding: 8px 16px; font-weight: bold; border-radius: 6px;"
   asp-action="DownloadReport" class="btn btn-info float-end">Download Members Report</a>

<style>


    table tbody tr {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .btn_Create {
        background-color: #08A732;
        color: white;
        font-weight: bold;
        border: #156741;
        border-radius: 6px;
        padding: 8px 16px;
        text-decoration: none;
        margin: 10px 5px;
    }

        .btn_Create:hover {
            background-color: #10712A;
            color: white;
        }

    .Acc_Edit {
        background-color: #5AC9DA;
        color: darkslategrey;
        font-weight: bold;
        border: #426F76;
        border-radius: 6px;
        padding: 8px 16px;
        text-decoration: none;
        margin: 10px 5px;
    }

        .Acc_Edit:hover {
            background-color: lightgreen
        }

    .Acc_Arc {
        background-color: #D3E345;
        color: darkslategrey;
        font-weight: bold;
        border: #A4B038;
        border-radius: 6px;
        padding: 8px 16px;
        text-decoration: none;
        margin: 10px 5px;
    }

        .Acc_Arc:hover {
            background-color: #F0FF63
        }

</style>

<p>
    <a class="btn_Create" asp-action="Create">Create new Account</a>
</p>
<form class="bkgAcc" asp-action="InsertFromExcel" asp-controller="TeamMembers" method="post" enctype="multipart/form-data">
    <form asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h6>Bulk Upload Members from excel:</h6>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="theExcel" id="theExcel">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload Data" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="text-danger">@TempData["message"]</div>
        <br />
        <div class="container-fluid d-block d-lg-none">
            <div class="row">
                @foreach (var item in Model)
                {
                    //Make a card for each one
                    <div class="card mb-sm-3" style="min-width: 18rem;">
                        <h5 class="card-header"><strong>@Html.DisplayFor(modelItem => item.FullName)</strong></h5>
                        <div class="card-body">
                            <figure class="row">
                                <figcaption class="col">
                                    <p class="card-text">
                                        @*Card Text goes Here*@
                                    <p class="card-text">
                                            @*Card Text goes Here*@
                                        <dl class="row lh-1">
                                            <dt class="col-3 text-truncate">
                                                    @Html.DisplayNameFor(model => model.PAC)
                                            </dt>
                                            <dd class="col-9">
                                                    @Html.DisplayFor(modelItem => item.PAC.PACName)
                                            </dd>
                                            <dt class="col-3 text-truncate">
                                                    @Html.DisplayNameFor(model => model.SignUpDate)
                                            </dt>
                                            <dd class="col-9">
                                                    @Html.DisplayFor(modelItem => item.SignUpDate)
                                            </dd>
                                            <dt class="col-3 text-truncate">
                                                    @Html.DisplayNameFor(model => model.ReNewDate_)
                                            </dt>
                                            <dd class="col-9">
                                                    @Html.DisplayFor(modelItem => item.ReNewDate_)
                                            </dd>
                                            <dt class="col-3 text-truncate">
                                                    @Html.DisplayNameFor(model => model.RenewalDueBy)
                                            </dt>
                                            <dd class="col-9">
                                                    @Html.DisplayFor(modelItem => item.RenewalDueBy)
                                            </dd>
                                            <dt class="col-3 text-truncate">
                                                    @Html.DisplayNameFor(model => model.MemberStatus)
                                            </dt>
                                            <dd class="col-9">
                                                    @Html.DisplayFor(modelItem => item.MemberStatus)
                                            </dd>
                                            <dt class="col-3 text-truncate">
                                                    @Html.DisplayNameFor(model => model.UserRoles)
                                            </dt>
                                            <dd class="col-9">
                                                    @{
                                                        foreach (var r in item.UserRoles)
                                                        {
                                                            @:  @r <br />
                                                        }
                                                    }
                                            </dd>
                                        </dl>
                                    </p>
                                    </p>
                                </figcaption>
                            </figure>
                            <div class="card-footer">
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                @if (item.NumberOfPushSubscriptions > 0)
                                {
                                    @:| @{
                                        <a asp-controller="WebPush" asp-action="Send" asp-route-id="@item.ID">Send Notification</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="d-none d-lg-block">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PAC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignUpDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReNewDate_)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RenewalDueBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MemberStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserRoles)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (!item.IsArchived)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)<br />
                                    Email: @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PAC.PACName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SignUpDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReNewDate_)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RenewalDueBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberStatus)
                                </td>
                                <td>
                                    @{
                                        foreach (var r in item.UserRoles)
                                        {
                                            @:  @r <br />
                                        }
                                    }
                                </td>
                                <td>
                                    <a class="Acc_Edit" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                    <a class="Acc_Arc" asp-action="Archive" asp-route-id="@item.ID">Archive</a>
                                    @if (item.NumberOfPushSubscriptions > 0)
                                    {
                                        @:| @{
                                            <a asp-controller="WebPush" asp-action="Send" asp-route-id="@item.ID">Send Notification</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @*<partial name="_PagingNavBar" />*@
    </form>
</form>
